# Introduction : Analyse du jeu de données MPG

Dans ce tutoriel, nous allons explorer en détail le jeu de données "mpg". Ce jeu de données, initialement publié par la bibliothèque StatLib de l'Université Carnegie Mellon et désormais disponible dans la bibliothèque Seaborn. L'objectif de ce tutoriel est d'explorer la relation entre la consommation de carburant (Miles Per Gallon, ou MPG) et diverses autres caractéristiques de ce jeu de données.

Le jeu de données "mpg" est particulièrement intéressant pour notre étude car il présente une combinaison de caractéristiques discrètes et continues. Il contient :

- 3 caractéristiques discrètes : Ces variables catégorielles nous permettront d'analyser des groupes ou des classifications au sein des données.
- 5 caractéristiques continues : Ces variables numériques nous permettront d'examiner des relations et des tendances quantitatives.

In [1]:
import seaborn as sns
# load a seaborn dataset
mpg_df = sns.load_dataset("mpg")
mpg_df.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino

In [5]:
print(mpg_df.info())
print(mpg_df.describe(include='all'))
# valeurs categorielles : cylinders, origin, name

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           398 non-null    float64
 1   cylinders     398 non-null    int64
 2   displacement  398 non-null    float64
 3   horsepower    392 non-null    float64
 4   weight        398 non-null    int64
 5   acceleration  398 non-null    float64
 6   model_year    398 non-null    int64
 7   origin        398 non-null    object
 8   name          398 non-null    object
dtypes: float64(4), int64(3), object(2)
memory usage: 28.1+ KB
None
               mpg   cylinders  displacement  horsepower       weight  \
count   398.000000  398.000000    398.000000  392.000000   398.000000
unique         NaN         NaN           NaN         NaN          NaN
top            NaN         NaN           NaN         NaN          NaN
freq           NaN         NaN           NaN         NaN          NaN
mean     23.514573    5.454774    193.425879  104.469388  2970.424623
std       7.815984    1.701004    104.269838   38.491160   846.841774
min       9.000000    3.000000     68.000000   46.000000  1613.000000
25%      17.500000    4.000000    104.250000   75.000000  2223.750000
50%      23.000000    4.000000    148.500000   93.500000  2803.500000
75%      29.000000    8.000000    262.000000  126.000000  3608.000000
max      46.600000    8.000000    455.000000  230.000000  5140.000000

        acceleration  model_year origin        name
count     398.000000  398.000000    398         398
unique           NaN         NaN      3         305
top              NaN         NaN    usa  ford pinto
freq             NaN         NaN    249           6
mean       15.568090   76.010050    NaN         NaN
std         2.757689    3.697627    NaN         NaN
min         8.000000   70.000000    NaN         NaN
25%        13.825000   73.000000    NaN         NaN
50%        15.500000   76.000000    NaN         NaN
75%        17.175000   79.000000    NaN         NaN
max        24.800000   82.000000    NaN         NaN

In [ ]:
plt.figure(figsize=(10,6))
sns.scatterplot(data=mpg_df, x= 'weight', y='mdp_df', hue = 'origin')
plt.title("Comparaison ")